body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logtxt {
    font-family: 'Courier New'
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
#inner-message {
    margin: 0 auto;
}
#scrollllll {
  height: 9001px;
}

